<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Streaming de Vídeo</title>

    <style>
        body {
            background-color: #222;
            color: white;
            text-align: center;
            font-family: Arial;
        }

        .video-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        img {
            max-width: 640px;
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
        }
    </style>
</head>

<body>
    <h1>📷 Streaming da ESP32-CAM</h1>

    <div class="video-container">
        <img src="{{ url_for('video_feed') }}">
    </div>

</body>
</html>